html, body, #root {
    background-color: green;
}

#wrapper {
    background: url("./images/glologo.jfif") no-repeat center 15%;
    background-color: white;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 10px;
    border: 20px solid white;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.form-horizontal input {
    background-color: transparent;
}

#major_header {
    color: green;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    
}

.table_info {
    margin: 0 auto;
}

.ticketUp {
    color: blue;
    font-weight: bold;
}

.table_row {
    max-height: 50vh;
    overflow: hidden;
    overflow: scroll;
}

#button {
    padding-left: 0;
    margin-top: 16px;
}

#restore {
    position: fixed;
    bottom: 7%;
    left: 0px;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: orange;
    display: none;
}
/* sm screen */
@media only screen and (max-width: 960px) {
    .table>tbody>tr>td, .table>thead>tr>th {
        font-size: 0.9rem;
    }

    #button {
        text-align: center;
    }

    .table_row {
        max-height: 50vh;
    }

    .row>#download_btn {
        margin-left: auto;
        margin-right: auto;
    }
  }
/* md screen */
  /* @media only screen and (max-width: 960px) and (min-width: 600px) {
    
} */


    /* lg screen */
    /* @media only screen and (max-width: 1280px) and (min-width: 960px) {
        html {
          background-color: yellow;
        }
        
        #root {
            width: 100%;
            margin: 0 auto;
        }
    } */
        
    /* xl screen */
    /* @media only screen and (min-width: 1280px) {
        html {
            background: green;
        }
        
        #root {
            width: 100%;
            margin: 0 auto;
        }
    } */


